/* propriétés et animation du coeur */
.like 
{ 
  position: relative;
  font-size: 2rem;
  margin-right: 20px;
  margin-top: 5px;
  .default-icon
  { 
  position: absolute;
  }
  .hover-icon
  {
    position: absolute;
    opacity: 0;
    background-image:linear-gradient($color-primary,$color-secondary);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition-duration: 300ms;
    &:hover 
    {
      cursor: pointer;
      opacity:1;
    }
  }
}

/*animation loader page d'accueil*/
@keyframes spin
{
    0%{
    transform: scale(2) rotate(2turn);
    opacity:1;
    }
    100%{
    transform: scale(0);
     opacity: 0;
    }
}

/*transparence page */  
@keyframes fade
{   
from{
    opacity:0.3;
    }
to {
    opacity:1;
    }
}

/*apparition section pages en décalé*/
@keyframes clearness 
{
from{
    opacity:0;
    transform: scale(0)
    } 
to { 
    opacity:1;
    transform: scale(1)
    }   
}

/* animation coche choix plat */
@keyframes check 
{
    0%{
    transform: translate(60px,0);
    }   
    100%{
    transform: translate(0px, 0);
    }
}   
@keyframes turncheck 
{
    0%{
    transform: rotate(-90deg);
    }    
    100%{
    transform: rotate(0deg) ;
    }
}
@keyframes price 
{
    0%{
    transform: translate(65px,0);
    }    
    100% {
    transform: translate(0px,0);
    }
}

/* animation page d'accueil*/
.loader
{
    position: absolute;
    width: 60px;
    height:60px;
    top: 50%;
    left: 50%; 
    margin-left: -3rem;     
    border-radius:50%;
    border: 20px double $color-darkgreen;
    border-top-color: $color-primary;
    border-bottom-color: $color-tertiary;
    border-left-color: $color-secondary;
    animation: spin 3s;
    opacity: 0;
}
.page
{   
    animation:fade 1s;
    opacity:1
}
.search
{
    animation: clearness 1100ms;
}
.fonctionnement
{
    animation: clearness 1500ms;
}
.restaurant
{
    animation: clearness 1800ms;
}

/*animation pages restaurants*/
.menu__entrees
{   opacity: 1;
    animation-name: clearness;
    animation-duration: 1s;
}
.menu__plats
{   opacity: 1;
    animation-name: clearness;
    animation-duration: 2s;
}
.menu__desserts
{   opacity: 1;
    animation-name: clearness;
    animation-duration: 3s;
}
 
