//Commun à toutes les pages//

body 
{
  font-family: "roboto", sans-serif;
  margin: 0px;
  max-width: 400px;
}

a 
{
  text-decoration: none;
  color: black;
}

i /*couleur par défaut des icones*/
{
  color: $color-grey;
}

header 
{
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 20px;
}

.logo img 
{
  width: 12rem;
}

footer 
{
  padding: 10px 0px 20px 35px;
  background-color: black;
  color: white;
  a 
  {
    color: white;
  }
  .fas
  {
    color: white;
    padding-right: 10px;
  }
}

.name /*Titre h2 police differente*/
{
  font-family: "shrikland";
  font-style: italic;
}

// propriétés et animation du coeur //
.like 
{ position: relative;
  font-size: 2rem;
  margin-right: 20px;
  margin-top: 5px;
  .default-icon
  { 
  position: absolute;
  }
  .hover-icon
  {
  position: absolute;
  opacity: 0;
  color:$color-primary;
  background:linear-gradient($color-primary,$color-secondary);
  background-clip: text;
  color: transparent;
  transition-duration: 500ms;
    &:hover 
    {
    cursor: pointer;
    opacity:1;
    }
  }
}

//dégradé couleur sur bouton rose/violet//
.colorbtn
{
  background:linear-gradient(to bottom right,$color-secondary,$color-primary);
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 15px;
  border: none;
  color: white;
  box-shadow: 4px 4px 6px darken($color-bckground, 20%);
}

