// section module de recherche//
.search
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-bckground;
  .search__location //formulaire de recherhe//
  {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: darken($color-bckground, 10%);
    border-top: 2px groove darken($color-bckground, 10%);
    vertical-align: middle;
    input 
    {
      background-color: transparent;
      border: transparent;
      font-size: 1rem;
      font-weight: bold;
      color: $color-grey;
    }
    .fa-map-marker-alt /* icone localisation*/ 
    {
      padding-right: 10px;
    }
  }
  .search__text //texte explicatif//
  {
    text-align: center;  
  }
}

//section fonctionnement//
.fonctionnement 
{
  margin-top: 40px;
  margin-bottom: 60px;
  h2
  {
    text-indent: 2rem;
  }
}
.step //etapes de fonctionnement//
{
  background-color: $color-bckground;
  margin: 25px;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  box-shadow: 4px 4px 6px darken($color-bckground, 20%);
  vertical-align: middle;
  .fas 
  {
    padding-right: 15px;
  }
  &:hover //changt couleur au survol//
  {
    background-color: $color-lightprimary;
  }
}   

.step__number 
{
  display: inline-block;
  background: $color-primary;
  color: white;
  padding: 3px 6px;
  border-radius: 12px;
  font-size: 0.8rem;
  position: relative;
  left: -20px;
}

//section restaurant//
.restaurant 
{
  padding-bottom: 20px;
  background-color: $color-bckground;
  display: flex;
  flex-direction: column;
  h2
  {
    text-indent: 2rem;
  }
  .restaurant__cards 
  {
    align-items: center;
  }
}

.restaurant__boxcard //cartes restaurants//
{
  position:relative;
  width: 320px;
  background-color: white;
  border-radius: 20px;
  height: 250px;
  img   
  {
    width: 100%;
    max-height: 160px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }
  .new 
  {
    position: absolute;
    top: 10px;
    right: 12px;
    background: $color-tertiary;
    padding: 4px 10px;
    color: $color-darkgreen;
    font-weight: bold;
    font-size: .8rem;
  }
   .restaurant__legend 
  {
    padding: 10px 30px 10px 20px;
    display: flex;
    justify-content: space-between
  }
}
  
