body {
  font-family: "roboto", sans-serif;
  margin: 0px;
  max-width: 400px;
}

a {
  text-decoration: none;
  color: black;
}

i {
  color: #8a8a8a;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  margin-bottom: 20px;
}

.logo img {
  width: 12rem;
}

footer {
  padding: 10px 0px 20px 35px;
  background-color: black;
  color: white;
}

footer a {
  color: white;
}

footer .fas {
  color: white;
  padding-right: 10px;
}

.name {
  font-family: "shrikland";
  font-style: italic;
}

.like {
  position: relative;
  font-size: 2rem;
  margin-right: 20px;
  margin-top: 5px;
}

.like .default-icon {
  position: absolute;
}

.like .hover-icon {
  position: absolute;
  opacity: 0;
  color: #9356dc;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  color: transparent;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.like .hover-icon:hover {
  cursor: pointer;
  opacity: 1;
}

.colorbtn {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  width: 200px;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 15px;
  border: none;
  color: white;
  -webkit-box-shadow: 4px 4px 6px #bdbdbd;
          box-shadow: 4px 4px 6px #bdbdbd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0f0;
}

.search .search__location {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #d7d7d7;
  border-top: 2px groove #d7d7d7;
  vertical-align: middle;
}

.search .search__location input {
  background-color: transparent;
  border: transparent;
  font-size: 1rem;
  font-weight: bold;
  color: #8a8a8a;
}

.search .search__location .fa-map-marker-alt {
  padding-right: 10px;
}

.search .search__text {
  text-align: center;
}

.fonctionnement {
  margin-top: 40px;
  margin-bottom: 60px;
}

.fonctionnement h2 {
  text-indent: 2rem;
}

.step {
  background-color: #f0f0f0;
  margin: 25px;
  padding: 15px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 4px 4px 6px #bdbdbd;
          box-shadow: 4px 4px 6px #bdbdbd;
  vertical-align: middle;
}

.step .fas {
  padding-right: 15px;
}

.step:hover {
  background-color: #e4d5f6;
}

.step:hover .fas {
  color: #9356dc;
}

.step__number {
  display: inline-block;
  background: #9356dc;
  color: white;
  padding: 3px 6px;
  border-radius: 12px;
  font-size: 0.8rem;
  position: relative;
  left: -20px;
}

.restaurant {
  padding-bottom: 20px;
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant h2 {
  text-indent: 2rem;
}

.restaurant .restaurant__cards {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant__boxcard {
  position: relative;
  width: 320px;
  background-color: white;
  border-radius: 20px;
  height: 250px;
}

.restaurant__boxcard img {
  width: 100%;
  max-height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.restaurant__boxcard .new {
  position: absolute;
  top: 10px;
  right: 12px;
  background: #99e2d0;
  padding: 4px 10px;
  color: #278870;
  font-weight: bold;
  font-size: .8rem;
}

.restaurant__boxcard .restaurant__legend {
  padding: 10px 30px 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 0px;
}

header .fa-arrow-left {
  font-size: 1.3rem;
  color: black;
}

.picture {
  height: 280px;
  background-color: #f0f0f0;
  background-image: url("/public/img/palette-gout.jpg");
  background-size: cover;
}

.menu {
  background-color: #f0f0f0;
  border-radius: 50px 50px 0 0;
  margin-top: -50px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.menu .menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 40px 10px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menu__title .name {
  font-size: 2.0rem;
}

.menu .menu__title .like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu__subtitle {
  font-variant: small-caps;
  margin-left: 2rem;
  border-bottom: 4px solid #99e2d0;
  width: 3rem;
}

.menustep {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  background-color: white;
  position: relative;
  margin: 15px;
  padding-left: 15px;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 6px #bdbdbd;
          box-shadow: 4px 4px 6px #bdbdbd;
}

.menustep:hover .check--off {
  border-radius: 0;
  -webkit-transform: translate(-75px);
          transform: translate(-75px);
  -webkit-transition: -webkit-transform 1500ms;
  transition: -webkit-transform 1500ms;
  transition: transform 1500ms;
  transition: transform 1500ms, -webkit-transform 1500ms;
}

.menustep:hover .fas {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 1000ms 500ms;
  transition: -webkit-transform 1000ms 500ms;
  transition: transform 1000ms 500ms;
  transition: transform 1000ms 500ms, -webkit-transform 1000ms 500ms;
}

.menu__choice {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu__choice p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 70%;
}

.menu__price {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-weight: bold;
}

.check, .check .check--off, .check .check--on {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: white;
  width: 20%;
  height: 100%;
  border-radius: 0 20px 20px 0;
}

.check .check--off {
  width: 100%;
  z-index: 10;
}

.check .check--on {
  background: #99e2d0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check .fas {
  color: white;
  font-size: 1.5rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}
/*# sourceMappingURL=style.css.map */